body{
       background-image: url(../images/train.jpg);
}
#head-container {
    margin-top: 1%;
}
#head {
    text-align: center;
    background-color: #141f3d;
    color: white;
    padding: 2%;
    height:150px;
 }
.panel-custom {
    background-color: #141f3d !important;
    color: white !important;
}

table {
    margin: 0 auto;
}

th {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
    background-color:rgb(197, 205, 92);
    font-weight: bold;
}

hr {
    margin: 1%;
}

td {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
    background-color: beige;
}

h1 img {
    width: 12%;
    padding-bottom: 1%;
    float:left;
}

.glyphicon-remove {
    padding-left: 15%;
}

.form-control:focus {
    border-color: #141f3d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #141f3d;
}
#add-button{
    background-color:black;
    color:white;
}
#currentTime{
    display:block;
    top:0px;
    right:0px;
}
.panel-body{
    background-color: beige; 
}
input.form-control,textarea {
    background-color: blanchedalmond; 
}